
:root{
    /* ================= VARIABLES ===================================*/
    /* CHANGE THIS IF YOU WANT TO  MODIFY COLOURS, FONTS, AND FONT SIZES */
    
    /* colours */
    --nav_buttons_colour: rgba(0, 0, 0, 0.4);      
    --nav_buttons_colour_active: white; 
    --nav_buttons_colour_hover: white;
    --nav_text_colour: white;
    --nav_text_colour_active: black;
    --nav_text_colour_hover: black;
    --logo_background:rgba(0, 0, 0, 0.5);
    --footer_background:rgba(0, 0, 0, 0.5);
    /*fonts*/
    --logo: 'Patrick Hand', cursive;
    --text1: 'Heebo', Helvetica, sans-serif; 	/*menu headlines*/
    
    /* fonts colours */
    --main: white;
    --secondary: black;
    
    /* font sizes */
    
    }

/*=================== default settings ============================ */
* {
	box-sizing:border-box;	/*box size includes padding and borders */
	padding:0;
	margin:0;
	color: var(--main);
}
body, html {
    height: 100%;
    
  }


/* =================== BACKGROUND ======================*/


  html {
background: rgb(22,22,22);
background: linear-gradient(315deg, rgba(0,0,0,0.7011846975118172) 0%, rgba(0,0,0,1) 100%);
}

/* =================== NAVIGATION BAR ======================*/

/*Navigation bar links */
   a {
	font-size: 0.8rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
	font-family:var(--text1);   	    
}
    a:hover {
        transition: 0.2s;
    }

/* =================== HEADER (LOGO) ======================*/
.bgimg {
    background-position: center;
    background-size: cover;
    
    background-image:linear-gradient(315deg, rgba(0,0,0,0.7011846975118172) 50%, rgba(0,0,0,1) 100%), url(images/index_large.jpg);
    min-height: 80%;
  }
  
/*Logo on the home page*/
#logo_main {    
    

    font-family: var(--logo);
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 17px #000000; 
}
@media screen and (min-width: 641px) {
#logo_main {
    font-size: 10rem;
}
}
@media screen and (max-width: 640px) {
    #logo_main {
        font-size: 10vw;
    }
    }

/*Logo on regular pages*/
.logo {    
    display: inline-block;
    margin: 0.4rem;
    text-align:left;	
    font-size: 1.5rem;
    color: var(--main);
    font-family: var(--logo);    
    letter-spacing: 0.9rem;
    text-shadow: 2px 2px 17px #000000;  
    text-decoration: none;

}

/*Slogan on home pages*/
#slogan_main {
    color: var(--main);
    font-family:var(--text1);
    text-transform: uppercase;
    font-size: 0.8rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
}

/* =================== MAIN ======================*/

main {
    grid-area: main;
    text-align: left;
}
#main_home {
    grid-area: main;
    display:grid;
    justify-content:center;
    align-items: baseline;
}
main h1 {
    font-family: var(--text1);
    letter-spacing: 1rem;
    font-size: 4rem;
    text-decoration-line: underline;
    padding: 0.2rem;
}

.two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.two_columns div {
    margin: 4rem 4rem 4rem 4rem;
    line-height: 2rem;
}


/* =================== BUTTON ======================*/

#reservation_button {
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 2rem;
    font-family:var(--text1);
    font-size: 0.8rem;
    background-color: rgb(248, 62, 62);
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 8px 1px #000000; 
    box-shadow: 0px 0px 8px 1px #000000;
}


}
/* =================== UNIVERSAL SETTINGS ======================*/
.white_border {
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 8px 1px #000000; 
    box-shadow: 0px 0px 8px 1px #000000;
}
p {
    font-family: var(--text1);
    text-transform: uppercase;      
    letter-spacing: 0.1rem;
    font-size: 0.8rem;    
    color: var(--main);
    
}

/* =================== FOOTER ======================*/
footer {
    grid-area: foot;
    background-color: var(--footer_background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: right;    
  }
  footer p,h1 {
    color: var(--main);
  }

  footer h1 {
      font-family: var(--logo);
      font-size: 3rem;
  }
 
#availability {
    text-align: center;
    line-height: 2rem;
    display: grid;
    justify-content: center;
    align-items:  center;  
}

  #contacts {
      text-align: right;  
      padding: 1rem;
      color: var(--main);
  }
  
  /*Important:*/
.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;}

    #copiright {
        grid-column: span 3;
        text-align: center;
        line-height: 2rem;
    }

  