
:root{
    /* ================= VARIABLES ===================================*/
    /* CHANGE THIS IF YOU WANT TO  MODIFY COLOURS, FONTS, AND FONT SIZES */
    
    /* colours */
    --nav_buttons_colour: rgba(0, 0, 0, 0.4);      
    --nav_buttons_colour_active: white; 
    --nav_buttons_colour_hover: white;
    --nav_text_colour: white;
    --nav_text_colour_active: black;
    --nav_text_colour_hover: black;
    --logo_background:rgba(0, 0, 0, 0.5);
    --footer_background:rgba(0, 0, 0, 0.5);
    /*fonts*/
    --logo: 'Patrick Hand', cursive;
    --text1: 'Heebo', Helvetica, sans-serif; 	/*menu headlines*/
    --text2: Garamond, serif;  					/*normal text*/
    --text3: 'Allison', cursive; 				/*Logo on header and footer*/
    
    /* fonts colours */
    --main: white;
    --secondary: black;
    
    /* font sizes */
    
    }

/*=================== default settings ============================ */
* {
	box-sizing:border-box;	/*box size includes padding and borders */
	padding:0;
	margin:0;
	color: var(--main);
}
/*grid template */
body {
    display: grid;
    grid-template-rows:  0 75% 25% auto;
    grid-template-areas:
    "nav"
    "head"
    "main"
    "foot";
    height: 100vh;
}

/* =================== BACKGROUND IMAGE ======================*/

html { 
    background: black; /* if browser can't download image)*/  
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 100%, rgba(0,212,255,0) 100%), url(images/entrance.jpg), no-repeat center fixed; 
    background-size: cover;
    /*Photo by Charles Parker from Pexels*/
  }

/* =================== NAVIGATION BAR ======================*/
nav {
    grid-area: nav;
}
#navbar {
	/* sticky position on the top of the screen*/
	position: -webkit-sticky;
	position: sticky;	
	top: 0;
	text-align:right;
	list-style-type:none;
	overflow: hidden;	
}

#navbar li, li a {
	display: inline-block;
}
/*Navigation bar links and button 'book'*/
.link a, .link li a {    
    background-color: var(--nav_buttons_colour);
	text-decoration:none;
	font-size: 0.8rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
	color:var(--nav_text_colour);
	font-family:var(--text1);
    
	padding:1rem;	    
}

.link a:hover:not(.active){
	color:var(--nav_text_colour_hover);
	transition: 0.2s;	
    background-color: var(--nav_buttons_colour_hover);
}
.link a:visited:not(.active) {
	color:var(--nav_text_colour);
	text-decoration:none;    
}

.active a, li a.active, .link a:visited:active {
	color:var(--nav_text_colour_active);
    background-color: var(--nav_buttons_colour_active); 
}

/* =================== HEADER (LOGO) ======================*/
header {
    grid-area: head;
    display:grid;
    justify-content:center;
    align-items: flex-end;
    
}

.logo {
    
    text-align:center;	
    font-size: 10rem;
    color: var(--main);
    font-family: var(--logo);
    text-shadow: 2px 2px 17px #000000;
    
    padding: -5rem 1rem;
}
.centered {
    vertical-align: bottom;
    padding: 1rem;
}
.slogan {
    color: var(--main);
    font-family:var(--text1);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
}
/* =================== MAIN ======================*/

main {
    grid-area: main;
    display:grid;
    justify-content:center;
    align-items: baseline;
}

/* =================== BUTTON ======================*/
a.button {
    margin-top: 1rem;   
    font-family:var(--text1);
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    font-size: 0.8rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.4rem;
    cursor: pointer;   
    text-decoration: none; 
    color: var(--main);
}

a.button > a:link {
    color: var(--main);
}
a.button > a:visited {
    color: var(--main);
}
a.button:hover {
    color:var(--nav_text_colour_hover);
	transition: 0.2s;	
    background-color: var(--nav_buttons_colour_hover);

}
/* =================== UNIVERSAL CLASSES ======================*/
.white_border {
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 8px 1px #000000; 
    box-shadow: 0px 0px 8px 1px #000000;
    padding: 1rem;
}
/* =================== FOOTER ======================*/
footer {
    grid-area: foot;
    background-color: var(--footer_background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: right;    
  }
  footer p,h1 {
    color: var(--main);
  }

  footer h1 {
      font-family: var(--logo);
      font-size: 3rem;
  }
footer p {
    font-family: var(--text1);
    font-family:var(--text1);
    text-transform: uppercase;      
    letter-spacing: 0.1rem;font-size: 0.8rem;    
    color: var(--main);
    
}
#availability {
    text-align: center;
    line-height: 2rem;
    display: grid;
    justify-content: center;
    align-items:  center;  
}

  #contacts {
      text-align: right;  
      padding: 1rem;
      color: var(--main);
  }

  